
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-3">За нас</h1>
   
    <hr class="my-4">
    <p>
        Развојот на автобускиот сообраѓај на еден град е тесно поврзан со развојот на самиот град. Градот Охрид има, речиси, вековна традиција кога станува збор за главната автобуска станица. Поради низа на причини нејзината локација не била постојана со текот на времето, но како објект секогаш ја обавувала својата должност.

        Меѓународната автобуска станица во Охрид е најголемата автобуска станица во Република Македонија. Станува збор за автобуска станица која што спроведува најголем број на возни редови, како во земјата така во странство. Не постои поголемо место во Република Македонија до кое што нема возен ред од Охрид до
        него и обратно. Исто така треба да се истакне дека од автобуската станица се возат и меѓународни возни редови. Во моментов од Охрид тргнуваат автобуси кон 20 европски држави.

        Секоја година бројот на возни редови кои што се реализираат од автобуската станица се зголемува. Исто така треба да се истакне дека и бројот на патници кои што ги користат услугите на автобуската од година во година расте.

        На следната линија на времето може да ги забележите најважните моменти од развојот на Меѓународната автобуска станица во Охрид.
    </p>
    <a href="@Url.Action("Index", "Home")">
        <input type="submit" class="btn btn-outline-primary" value="Назад" />
    </a>
</div>


