@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"  >
    <h1 style="text-align:center ! important;">АВТОБУСКА СТАНИЦА ОХРИД</h1>
    <img src="~/Content/5749743-bus-wallpapers.jpg" width="100%" height="80%"  />
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>За нас</h2>
        <p>
            Развојот на автобускиот сообраѓај на еден град е тесно поврзан со развојот на самиот град. Градот Охрид има, речиси, вековна 
            традиција кога станува збор за главната автобуска станица. 
            Поради низа на причини нејзината локација не била постојана со текот на времето, но како објект секогаш ја обавувала својата должност.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("AboutUs", "PageDown")">Повеќе &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Галерија</h2>
        <p>Посетете ја нашата галерија со фотографии</p>
        <p><a class="btn btn-default" href="@Url.Action("Gallery", "PageDown")">Повеќе &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Забелешки</h2>
        <p>Со цел да го подобриме квалитетот на услуга, доколку имате било какви забелешки Ве молиме пишете ни.</p>
        <p><a class="btn btn-default" href="@Url.Action("Note", "PageDown")">Повеќе &raquo;</a></p>
    </div>
</div>